  <div class="row" style="padding-bottom: 20px;">
    <div class="col-lg-12">
      <h2>Wine pairing recipes</h2><div style="float:right;"><a class="btn btn-default" href="/add"><< Back to add-ons</a></div>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <img src="/assets/1recipedonut.jpg" class="img-responsive img-rounded" alt="Responsive image"><br/>
      <center><a class="btn btn-default" href="/recipes1">Faux sufganiyot</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1recipepizza.jpg" class="img-responsive img-rounded" alt="Responsive image"><br/>
      <center><a class="btn btn-default" href="/recipes2">Mediterranean Pizza</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1reciperibs.jpg" class="img-responsive img-rounded" alt="Responsive image"><br/>
      <center><a class="btn btn-default" href="/recipes3">Spice-braised pork ribs</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1recipesalad.jpg" class="img-responsive img-rounded" alt="Responsive image"><br/>
      <center><a class="btn btn-default" href="/recipes4">Celery salad</a></center>
    </div>
  </div>

  <div class="row" style="padding-top: 20px;">
    <div class="col-lg-3">
      <img src="/assets/1recipesalmon.jpg" class="img-responsive img-rounded" alt="Responsive image"><br/>
      <center><a class="btn btn-default" href="/recipes5">Sockeye salmon</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1recipechowder.jpg" class="img-responsive img-rounded" alt="Responsive image"><br/>
      <center><a class="btn btn-default" href="/recipes6">Cajun corn chowder</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1recipepino.jpg" class="img-responsive img-rounded" alt="Responsive image"><br/>
      <center><a class="btn btn-default" href="/recipes7">Cioppino</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1recipelobster.jpg" class="img-responsive img-rounded" alt="Responsive image"><br/>
      <center><a class="btn btn-default" href="/recipes8">Lobster tail</a></center>
    </div>
  </div>













<!--

<h3>Recipes</h3>
<hr>
<table>
	
	<tr>
		<td>
<form> 

red wine:

Stella Rosa Rosso
	<input type="button" value="Faux sufganiyot" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/recipes1'" 
</form> </td>








Grover La Reserve 
<form> <td>
	<input type="button" value="Spice-braised pork ribs" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/recipes3'" 
</form> </td>

white wine:

Barefoot Moscato
<form> <td>
	<input type="button" value="Mediterranean Pizza" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/recipes2'" 
</form> </td>

Bolla Pinot Grigio
	<input type="button" value="Sockeye salmon" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/recipes5'" 
</form> </td>

William Hill Chardonnay
<form> <td  style="padding-top:30px">
	<input type="button" value="Cajun corn chowder" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/recipes6'" 
</form> </td>

</tr>

<tr>
	<td style="padding-left:30px">	
		<%= image_tag'recipes1.jpg', :alt => 'recipes1'%> 
		<img height="50" width="50" />
	</td>
	<td style="padding-left:30px">
		<%= image_tag 'recipes2.jpg', :alt => 'resipes2'%> 
		<img height="50" width="50" />
	</td>
	<td style="padding-left:30px">
		<%= image_tag 'recipes3.jpg', :alt => 'recipes3'%> 
		<img height="50" width="50" />
	</td>
	<td style="padding-left:30px">
		<%= image_tag 'recipes4.jpg', :alt => 'recipes4'%> 
		<img height="50" width="50" />
	</td>
	
</tr>


	<tr">
		<td  style="padding-top:30px">
<form> 

Rose wine:

Graham Beck Brut Rose
<form> <td style="padding-top:30px">
	<input type="button" value="Lobster tail" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/recipes8'" 
</form> </td>

Chivite Gran Feudo Navarra Rosado
<form> <td style="padding-top:30px">
	<input type="button" value="Cioppino" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/recipes7'" 
</form> </td>

Sparkling/champane:

Cristal Champagne
<form> <td>
	<input type="button" value="Celery salad with pig ears" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/recipes4'" 
</form> </td>

</tr>

<tr>
	<td style="padding-left:30px; padding-bottom:100px">	
		<%= image_tag 'recipes5.jpg', :alt => 'recipes5'%> 
		<img height="50" width="50" />
	</td>
	<td style="padding-left:30px; padding-bottom:100px">
		<%= image_tag 'recipes6.jpg', :alt => 'resipes6'%> 
		<img height="50" width="50" />
	</td>
	<td style="padding-left:30px; padding-bottom:100px">
		<%= image_tag 'recipes7.jpg', :alt => 'recipes7'%> 
		<img height="50" width="50" />
	</td>
	<td style="padding-left:30px; padding-bottom:100px">
		<%= image_tag 'recipes8.jpg', :alt => 'recipes8'%> 
		<img height="50" width="50" />
	</td>
	
</tr>

</table> -->
