

<!--
<div style="color:#66aa88; text-align:right">
<h3> Tell us about your wine and dine preferences </h3>
<h5> Answer 6 simple questions and we will give you wine recomendations. </h5>
</div>
<div style="margin-top:20px"></div>
<h1><FONT FACE="broadway"> How adventurous are you when it comes to food and drink? </FONT></h1>

<table>
	<tr>
		<td>
<form> 
	<input type="button" value="I'll try anything. Really" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/sign'" 
</form> </td>

<form> <td>
	<input type="button" value="Looking to try something new" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/sign'" 
</form> </td>

<form> <td>
	<input type="button" value="I don't seek out new tastes" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/sign'" 
</form> </td>

<form> <td>
	<input type="button" value="I know what I like" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/sign'" 
</form> </td>

<form> <td>
	<input type="button" value="I eat and drink. Thats it" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/sign'" 
</form> </td>
</tr>
<tr>
	<td>
		<%= image_tag 'last1.png', :alt => 'last'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'last2.png', :alt => 'last2'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'last3.png',  :alt => 'last3'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'last4.png', :alt => 'last4'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'last5.png', :alt => 'last5'%> 
		<img height="250" width="250" />
	</td>
</tr>
</table>

 <form> 
	<input type="button" value="Back" style="width: 100px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/survey5'" 
</form> 

<form> 
	<input type="button" value="Not now, proceed to order" style="width: 250px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/sign'" 
</form> -->
