  <div class="row">
    <div class="col-lg-12">
      <a class="btn btn-default" href="/wine" style="float:right;">Skip survey</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" style="padding-top:20px; padding-bottom:20px;">
      <h3>5. Select the wine characteristic that best suits your taste: <i>Acidity</i></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <img src="/assets/1survey51.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/wine" style="width: 180px;">Tart</a></center>
    </div>
    <div class="col-lg-4">
      <img src="/assets/1survey52.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/wine" style="width: 180px;">Crisp</a></center>
    </div>
    <div class="col-lg-4">
      <img src="/assets/1survey53.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/wine" style="width: 180px;">Flat</a></center>
    </div>
  </div>

<!--<div style="color:#66aa88; text-align:right">
<h3> Tell us about your wine and dine preferences </h3>
<h5> Answer 6 simple questions and we will give you wine recomendations. </h5>
</div>
<div style="margin-top:20px"></div>
<h1><FONT FACE="broadway"> Do you like berries? </FONT></h1>

<table>
	<tr>
		<td>
<form> 
	<input type="button" value="Love berries. Eat them raw" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey6'" 
</form> </td>

<form> <td>
	<input type="button" value="Love it mostly as jam" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey6'" 
</form> </td>

<form> <td>
	<input type="button" value="Like it with sweets" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey6'" 
</form> </td>

<form> <td>
	<input type="button" value="So so" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey6'" 
</form> </td>

<form> <td>
	<input type="button" value="No, not really" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey6'" 
</form> </td>
</tr>
<tr>
	<td>
		<%= image_tag 'berry1.png', :alt => 'berry1'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'berry2.png', :alt => 'berry2'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'berry3.png', :alt => 'berry3'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'berry4.png', :alt => 'berry4'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'berry5.png', :alt => 'berry5'%> 
		<img height="250" width="250" />
	</td>
</tr>
</table>

<div style="margin-top:10px"></div>
 <form> 
	<input type="button" value="Back" style="width: 100px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/survey4'" 
</form> 

<form> 
	<input type="button" value="Not now, proceed to order" style="width: 250px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/sign'" 
</form> -->
