  <div class="row">
    <div class="col-lg-12">
      <a class="btn btn-default" href="/wine" style="float:right;">Skip survey</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" style="padding-top:20px; padding-bottom:20px;">
      <h3>2. Which kind of food do you enjoy best with wine?</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <img src="/assets/1survey21.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey3" style="width: 180px;">Meat</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1survey22.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey3" style="width: 180px;">Cheese</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1survey23.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey3" style="width: 180px;">Seafood</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1survey24.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey3" style="width: 180px;">Desserts</a></center>
    </div>
  </div>

<!--
<div style="color:#66aa88; text-align:right">
<h3> Tell us about your wine and dine preferences </h3>
<h5> Answer 6 simple questions and we will give you wine recomendations. </h5>
</div>
<div style="margin-top:20px"></div>
<h1><FONT FACE="broadway"> How do you feel about salt? </FONT></h1>

<table>
	<tr>
		<td>
<form> 
	<input type="button" value="I put it on everything" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey3'" 
</form> </td>

<form> <td>
	<input type="button" value="Use it sometimes" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey3'" 
</form> </td>

<form> <td>
	<input type="button" value="Like it but don't miss it" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey3'" 
</form> </td>

<form> <td>
	<input type="button" value="Take it or leave it" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey3'" 
</form> </td>

<form> <td>
	<input type="button" value="Don't really lie salty stuff" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey3'" 
</form> </td>
</tr>
<tr>
	<td>
		<%= image_tag 'salt1.png', :alt => 'salt1'%>
		<img height="250" width="250" /> 
	</td>
	<td>
		<%= image_tag 'salt4.png', :alt => 'salt4'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'salt2.png', :alt => 'salt2'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'salt3.png', :alt => 'salt3'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'salt5.png', :alt => 'salt5'%>
		<img height="250" width="250" /> 
	</td>
</tr>
</table>

<div style="margin-top:10px"></div>
 <form> 
	<input type="button" value="Back" style="width: 100px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/survey1'" 
</form> 

<form> 
	<input type="button" value="Not now, proceed to order" style="width: 250px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/sign'" 
</form> -->

