<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default" href="/wine" style="float:right;">Skip survey</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding-top:20px; padding-bottom:20px;">
      <h3>3. Select the wine characteristic that best suits your taste: <i>Sweetness</i></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="/assets/1survey31.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey4" style="width: 180px;">Dry</a></center>
    </div>
    <div class="col-md-4">
      <img src="/assets/1survey32.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey4" style="width: 180px;">Medium</a></center>
    </div>
    <div class="col-md-4">
      <img src="/assets/1survey33.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey4" style="width: 180px;">Sweet</a></center>
    </div>
  </div>
</div>

<!--
<div style="color:#66aa88; text-align:right">
<h3> Tell us about your wine and dine preferences </h3>
<h5> Answer 6 simple questions and we will give you wine recomendations. </h5>
</div>
<div style="margin-top:20px"></div>
<h1><FONT FACE="broadway"> Do you like citrus? </FONT></h1>

<table>
	<tr>
		<td>
<form> 
	<input type="button" value="Oh yeah!!!" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey4'" 
</form> </td>

<form> <td>
	<input type="button" value="Like it, don't love it" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey4'" 
</form> </td>

<form> <td>
	<input type="button" value="I drink OJ occasionally" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey4'" 
</form> </td>

<form> <td>
	<input type="button" value="Not really" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey4'" 
</form> </td>

<form> <td>
	<input type="button" value="Not at all" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey4'" 
</form> </td>
</tr>
<tr>
	<td>
		<%= image_tag 'citrus1.png', :alt => 'citrus1'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'citrus2.png', :alt => 'citrus2'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'citrus3.png', :alt => 'citrus3'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'citrus4.png', :alt => 'citrus4'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'citrus5.png', :alt => 'citrus5'%> 
		<img height="250" width="250" />
	</td>
</tr>
</table>

<div style="margin-top:10px"></div>
 <form> 
	<input type="button" value="Back" style="width: 100px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/survey2'" 
</form> 

<form> 
	<input type="button" value="Not now, proceed to order" style="width: 250px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/sign'" 
</form> 
-->
