  <div class="row">
    <div class="col-lg-12">
      <a class="btn btn-default" href="/wine" style="float:right;">Skip survey</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" style="padding-top:20px; padding-bottom:20px;">
      <h3>4. Select the wine characteristic that best suits your taste: <i>Body</i></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <img src="/assets/1survey41.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey5" style="width: 180px;">Light</a></center>
    </div>
    <div class="col-lg-4">
      <img src="/assets/1survey42.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey5" style="width: 180px;">Medium</a></center>
    </div>
    <div class="col-lg-4">
      <img src="/assets/1survey43.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey5" style="width: 180px;">Heavy</a></center>
    </div>
  </div>

<!--<div style="color:#66aa88; text-align:right">
<h3> Tell us about your wine and dine preferences </h3>
<h5> Answer 6 simple questions and we will give you wine recomendations. </h5>
</div>
<div style="margin-top:20px"></div>
<h1><FONT FACE="broadway"> Do you like earthy flavors like mushrooms? </FONT></h1>

<table>
	<tr>
		<td>
<form> 
	<input type="button" value="Yes, I'll more-or-less eat dirt" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey5'" 
</form> </td>

<form> <td>
	<input type="button" value="Yeah, I like these flavors" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey5'" 
</form> </td>

<form> <td>
	<input type="button" value="As a secondary flavor" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey5'" 
</form> </td>

<form> <td>
	<input type="button" value="Not really my thing" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey5'" 
</form> </td>

<form> <td>
	<input type="button" value="Gross. No" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey5'" 
</form> </td>
</tr>
<tr>
	<td>
		<%= image_tag 'dirt1.png', :alt => 'dirt1'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'dirt2.png', :alt => 'dirt2'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'dirt3.png', :alt => 'dirt3'%>
		<img height="250" width="250" /> 
	</td>
	<td>
		<%= image_tag 'dirt4.png', :alt => 'dirt4'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'dirt5.png', :alt => 'dirt5'%> 
		<img height="250" width="250" />
	</td>
</tr>
</table>

<div style="margin-top:10px"></div>
 <form> 
	<input type="button" value="Back" style="width: 100px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/survey3'" 
</form> 

<form> 
	<input type="button" value="Not now, proceed to order" style="width: 250px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/sign'" 
</form> -->
