  <div class="row">
    <div class="col-lg-12">
      <a class="btn btn-default" href="/wine" style="float:right;">Skip survey</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12" style="padding-top:20px; padding-bottom:20px;">
      <h3>1. Which type of wine do you prefer?</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <img src="/assets/1survey11.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey2" style="width: 180px;">Red</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1survey12.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey2" style="width: 180px;">White</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1survey13.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey2" style="width: 180px;">Rose</a></center>
    </div>
    <div class="col-lg-3">
      <img src="/assets/1survey14.jpg" class="img-responsive img-circle" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/survey2" style="width: 180px;">Sparkling/Champagne</a></center>
    </div>
  </div>







<!--

<div style="margin-top:20px"></div>
<h1><FONT FACE="broadway"> How do you like your coffee? </FONT></h1>

<table>
	<tr>
		<td>
<form> 
	<input type="button" value="Strong & Black" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey2'" 
</form> </td>

<form> <td>
	<input type="button" value="Mild but nothing in it" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey2'" 
</form> </td>

<form> <td>
	<input type="button" value="With cream and/or sugar" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey2'" 
</form> </td>

<form> <td>
	<input type="button" value="Frappuccino'ed" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey2'" 
</form> </td>

<form> <td>
	<input type="button" value="I don't" style="width: 250px; height:40px; background-color: #66AA88; font-size:16px; font-weight: bold" onclick="window.location.href='/survey2'" 
</form> </td>
</tr>
<tr>
	<td>	
		<%= image_tag('black.jpg', :alt => 'black')%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'mild.png', :alt => 'mild'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'cream_suger.png', :alt => 'cream_suger'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'frap.png', :alt => 'frap'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'no_coffee.png', :alt => 'no_coffee'%> 
		<img height="250" width="250" />
	</td>
</tr>
</table>

<div style="margin-top:10px"></div>
 <form> 
	<input type="button" value="Back" style="width: 100px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold; input:hover" onclick="window.location.href='/survey'" 
</form> 

<form> 
	<input type="button" value="Not now, proceed to order" style="width: 250px; height:30px; background-color: #ffee99; font-size:16px; font-weight:bold" onclick="window.location.href='/sign'" 
</form> 
-->
